Examples/ASMD_SOAP/ASMDOperations.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ASMDOperations" targetNamespace="http://localhost:7800/ASMDOperations/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:7800/ASMDOperations/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="ASMDOperations_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="ASMDOperationsSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:7800/ASMDOperations/">
<xsd:include schemaLocation="ASMDOperations_InlineSchema1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AdditionRequest">
    <wsdl:part element="tns:Addition" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AdditionResponse">
    <wsdl:part element="tns:AdditionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SubstractionRequest">
  	<wsdl:part element="tns:Substraction" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SubstractionResponse">
  	<wsdl:part element="tns:SubstractionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="MultiplicationRequest">
  	<wsdl:part element="tns:Multiplication" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="MultiplicationResponse">
  	<wsdl:part element="tns:MultiplicationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DivisionRequest">
  	<wsdl:part element="tns:Division" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DivisionResponse">
  	<wsdl:part element="tns:DivisionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ASMDOperations">
    <wsdl:operation name="Addition">
      <wsdl:input message="tns:AdditionRequest"/>
      <wsdl:output message="tns:AdditionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Substraction">
    	<wsdl:input message="tns:SubstractionRequest"/>
    	<wsdl:output message="tns:SubstractionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
    	<wsdl:input message="tns:MultiplicationRequest"/>
    	<wsdl:output message="tns:MultiplicationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Division">
    	<wsdl:input message="tns:DivisionRequest"/>
    	<wsdl:output message="tns:DivisionResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ASMDOperationsSOAP" type="tns:ASMDOperations">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="Addition">

  		<soap:operation soapAction="http://localhost:7800/ASMDOperations/Addition"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Substraction">
  		<soap:operation soapAction="http://localhost:7800/ASMDOperations/Substraction"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Multiplication">
  		<soap:operation soapAction="http://localhost:7800/ASMDOperations/Multiplication"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Division">
  		<soap:operation soapAction="http://localhost:7800/ASMDOperations/Division"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ASMDOperations">
    <wsdl:port binding="tns:ASMDOperationsSOAP" name="ASMDOperationsSOAP">
      <soap:address location="http://localhost:7800/ASMDOperations/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>