Examples/TDSFLExample/tdsFLExample.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format byteOrder="{$dfdl:byteOrder}" encoding="{$dfdl:encoding}" escapeSchemeRef="recSepFieldsFmt:RecordEscapeScheme" occursCountKind="fixed" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="tdsFLExample">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="" dfdl:terminator="]%CR;%LF;">
				<xsd:element name="header">
					<xsd:complexType>
						<xsd:sequence dfdl:initiator="Company[" dfdl:separator="%#124;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
							<xsd:element dfdl:initiator="CompanyName=" ibmDfdlExtn:sampleValue="head_value1" name="CompanyName" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element dfdl:occursCountKind="implicit" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:initiator="Employee(" dfdl:separator="%#124;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator=")%CR;%LF;">
							<xsd:element dfdl:initiator="empnum=" ibmDfdlExtn:sampleValue="body_value1" name="empnum" type="xsd:string"/>
							<xsd:element dfdl:initiator="dept=" ibmDfdlExtn:sampleValue="body_value2" name="dept" type="xsd:string"/>
							<xsd:element dfdl:initiator="empname=" ibmDfdlExtn:sampleValue="body_value3" name="empname" type="xsd:string"/>
                            <xsd:element dfdl:initiator="Address=" ibmDfdlExtn:sampleValue="body_value4" name="Address" type="xsd:string"/>
                            <xsd:element dfdl:initiator="salary=" ibmDfdlExtn:sampleValue="body_value5" name="salary" type="xsd:string"/>
                            <xsd:element dfdl:initiator="native=" ibmDfdlExtn:sampleValue="body_value6" name="native" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>