Examples/Multiplication_WSDL/MultiplicationCode_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.example.org/MultiplicationCode/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/MultiplicationCode/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                            <xsd:element ibmSchExtn:docRoot="true" name="Multiplication">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="input1" type="xsd:string"/>
          	<xsd:element name="input2" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element ibmSchExtn:docRoot="true" name="MultiplicationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>